<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TicoTees Store - Costa Rica</title>

  <link rel="icon" type="image/png" th:href="@{/img/icono.png}" />


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link th:href="@{css/styles.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuario/template_usuario.html::header}"></div>

    <!-- Page Content -->
    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
          <i class="bi bi-cart-fill me-2"></i>TicoTees <small>Carrito</small>
        </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/}">
            <i class="bi bi-arrow-left-circle me-1"></i> Sigue comprando
          </a>
        </li>
        <li class="breadcrumb-item active">
          <i class="bi bi-cart-check-fill me-1"></i> Carrito
        </li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <!-- Sección del producto -->
            <div class="col-lg-9">
              <div th:if="${#lists.isEmpty(pedidoDto.detalles)}" class="alert alert-warning alert-dismissible text-center fw-bold custom-alert" role="alert">
                <i class="bi bi-cart-x"></i> <!-- Ícono de carrito vacío -->
                <strong>Tu carrito está vacío.</strong> ¡Explora nuestra tienda y añade productos!
              </div>

              <table th:if="${not #lists.isEmpty(pedidoDto.detalles)}" class="table align-middle">
                <thead>
                <tr>
                  <th scope="col"><i class="bi bi-box-seam me-1"></i> Producto</th>
                  <th scope="col" class="text-center"><i class="bi bi-stack me-1"></i> Cantidad</th>
                  <th scope="col" class="text-end"><i class="bi bi-currency-dollar me-1"></i> Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${pedidoDto.detalles}">
                  <td>
                    <div class="d-flex align-items-center">
                      <img th:src="@{'/images/' + ${item.producto.imagen}}" alt="Camiseta Foto" class="me-3" width="80">
                      <div>
                        <strong th:text="${item.producto.nombre}"></strong>
                        <p class="mb-1" th:text="'₡ ' +${item.producto.precio}" id="precio" > </p>
                        <p class="text-muted small mb-1" th:text="'Tamaño: ' + ${item.talla}" ></p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="input-group input-group-sm w-50 mx-auto">
                      <input type="text" class="form-control text-center" th:value="${item.cantidad}" readonly>
                    </div>
                    <a class="btn btn-sm btn-danger mt-2" th:href="@{/delete-from-cart(id=${item.producto.id}, talla=${item.talla})}">
                      <i class="bi bi-trash-fill"></i>
                    </a>
                  </td>
                  <td class="text-end" th:text="'₡ ' + ${item.subtotal}" id="precio" > </td>
                </tr>
                </tbody>
              </table>
            </div>

            <!-- Sección del resumen de compra -->
            <div class="col-lg-3">
              <div class="border p-3 rounded" th:object="${pedidoDto}">
                <h5 class="fw-bold"><i class="bi bi-calculator me-1"></i>Subtotal</h5>
                <p class="fs-5" th:text="'₡ ' + *{subtotal} + ' CRC'" id="precio"></p>
                <h5 class="fw-bold"><i class="bi bi-cash-stack me-1"></i>Total</h5>
                <p class="fs-5" th:text="'₡ ' + *{total} + ' CRC'" id="precio"></p>
                <p class="text-muted small">Impuesto incluido. Los <a href="#">gastos de envío</a> se calculan en la pantalla de pago.</p>
                <a th:href="@{/pedido}" class="btn btn-success w-100">
                  <i class="bi bi-credit-card-fill me-1"></i>Pagar pedido
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    <!-- /.container -->

      <!-- Footer -->
  <div th:insert="~{usuario/template_usuario.html::footer}"></div>


  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <script th:src="@{/js/script.js}"> </script>

  </body>

  </html>
