<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

  <link th:href="@{css/styles.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuario/template_usuario.html::header}"></div>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Spring eCommerce <small>Producto</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Regresar</a></li>
        <li class="breadcrumb-item active">Producto</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5 d-flex justify-content-center align-items-center ">
              <a href="#">
                <img class="img-fluid product-image" th:src="@{'/images/' + ${producto.imagen}}" alt="Imagen del producto">
              </a>
            </div>


            <div class="col-lg-6">
              <form th:action="@{/carrito}" method="post" enctype="multipart/form-data" th:object="${carritoDto}" >

                <input type="hidden" name="idProducto" th:field="*{idProducto}" th:value="${producto.id}">


                <h2 class="card-title" th:text="${producto.nombre}"></h2>

                <ul class="list-group">
                  <li class="list-group-item"><h5 th:text="'Precio:' "></h5>
                    <h5 th:text=" '₡ ' + ${producto.precio}" id="precio"></h5>
                    <input type="hidden" th:field="*{precioUnitario}" name="precioUnitario" th:value="${producto.precio}">

                  </li>
                  <li class="list-group-item">
                    <p th:text="'Equipo: ' + ${producto.equipo}"></p>
                  </li><li class="list-group-item">
                    <p th:text="'Equipación: ' + ${producto.tipoEquipacion}">:</p>
                  </li><li class="list-group-item">
                    <p th:text="'Temporada: ' + ${producto.temporada}"></p>
                  </li><li class="list-group-item">
                    <p th:text="'Descripción: ' + ${producto.descripcion}"></p>
                  </li>

                  <div class="container mt-3 mb-3">
                    <h6>Tamaño</h6>
                    <div id="sizeSelector">
                      <span class="size-option" data-size="S">S</span>
                      <span class="size-option" data-size="M">M</span>
                      <span class="size-option" data-size="L">L</span>
                      <span class="size-option" data-size="XL">XL</span>
                      <span class="size-option" data-size="2XL">2XL</span>
                    </div>
                    <input type="hidden" id="selectedSize" value="" name="talla" th:field="*{talla}">
                    <p th:if="${#fields.hasErrors('talla')}" th:errorclass="text-danger"
                       th:errors="${carritoDto.talla}"></p>
                  </div>

                  <div class="container">
                    <h6>Cantidad</h6>
                    <div class="quantity-container">
                      <button type="button" class="quantity-btn" id="decrease">−</button>
                      <input type="text" id="cantidad" class="quantity-input" value="1" name="cantidad" readonly th:field="*{cantidad}" >
                      <button type="button" class="quantity-btn" id="increase">+</button>
                    </div>
                    <p th:if="${#fields.hasErrors('cantidad')}" th:errorclass="text-danger"
                       th:errors="${carritoDto.cantidad}"></p>
                  </div>
                </ul>


                <button type="submit"  class="btn btn-dark mt-3">Añadir al carrito </button>

              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{usuario/template_usuario.html::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <script th:src="@{/js/script.js}"> </script>

  </body>

  </html>
