<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Golazo Jersey</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto rounded border p-4 m-4">
        <h2 class="text-center mb-5">Nuevo Producto</h2>

        <form method="post" enctype="multipart/form-data"th:object="${productoDto}">
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="${productoDto.nombre}">
              <p th:if="${#fields.hasErrors('nombre')}" th:errorclass="text-danger"
              th:errors="${productoDto.nombre}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Equipo</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="${productoDto.equipo}">
              <p th:if="${#fields.hasErrors('equipo')}" th:errorclass="text-danger"
                 th:errors="${productoDto.equipo}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Precio</label>
            <div class="col-sm-8">
              <input class="form-control" type="number" step="1" min="1" th:field="${productoDto.precio}">
              <p th:if="${#fields.hasErrors('equipo')}" th:errorclass="text-danger"
                 th:errors="${productoDto.equipo}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Imagen</label>
            <div class="col-sm-8">
              <input class="form-control" type="file" th:field="${productoDto.imagen}">
              <p th:if="${#fields.hasErrors('imagen')}" th:errorclass="text-danger"
                 th:errors="${productoDto.imagen}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Stock Total</label>
            <div class="col-sm-8">
              <input class="form-control" type="number" step="1" min="1" th:field="${productoDto.stock_total}">
              <p th:if="${#fields.hasErrors('stock_total')}" th:errorclass="text-danger"
                 th:errors="${productoDto.stock_total}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Tipo Equipacion</label>
            <div class="col-sm-8">
              <select class="form-select" th:field="${productoDto.tipo_equipacion}" required>
                <option value="" hidden>--Selecciona el tipo de equipación--</option>
                <option value="Local">Local</option>
                <option value="Visitante">Visitante</option>
                <option value="Alternativa">Alternativa</option>
                <option value="Otro">Otro</option>
              </select>
              <p th:if="${#fields.hasErrors('equipo')}" th:errorclass="text-danger"
                 th:errors="${productoDto.tipo_equipacion}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Liga</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="${productoDto.liga}">
              <p th:if="${#fields.hasErrors('liga')}" th:errorclass="text-danger"
                 th:errors="${productoDto.liga}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Pais</label>
            <div class="col-sm-8">
              <select class="form-select" id="paisSelect" th:field="${productoDto.pais}" required>
                <option value="" hidden="">Selecciona el pais</option>
              </select>
              <p th:if="${#fields.hasErrors('pais')}" th:errorclass="text-danger"
                 th:errors="${productoDto.pais}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Temporada</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="${productoDto.temporada}">
              <p th:if="${#fields.hasErrors('temporada')}" th:errorclass="text-danger"
                 th:errors="${productoDto.temporada}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Edición Especial</label>
            <div class="col-sm-8">
              <select class="form-select" th:field="${productoDto.edicion_especial}" required>
                <option value="" hidden>--Selecciona es una edición especial--</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
              <p th:if="${#fields.hasErrors('edicion_especial')}" th:errorclass="text-danger"
                 th:errors="${productoDto.edicion_especial}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Retro</label>
            <div class="col-sm-8">
              <select class="form-select" th:field="${productoDto.es_retro}" required>
                <option value="" hidden>--Selecciona si es retro--</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
              <p th:if="${#fields.hasErrors('es_retro')}" th:errorclass="text-danger"
                 th:errors="${productoDto.es_retro}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Descripción</label>
            <div class="col-sm-8">
              <textarea class="form-control"th:field="${productoDto.descripcion}"></textarea>
              <p th:if="${#fields.hasErrors('descripcion')}" th:errorclass="text-danger"
                 th:errors="${productoDto.descripcion}"></p>
            </div>
          </div>

          <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            <div class="col-sm-4 d-grid">
              <a href="/productos" class="btn btn-outline-primary" role="button">Cancelar</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const selectPais = document.getElementById("paisSelect");

      fetch("https://restcountries.com/v3.1/all?fields=translations")
              .then(response => response.json())
              .then(data => {
                // Extraemos el nombre en español y ordenamos alfabéticamente
                const paisesOrdenados = data
                        .map(pais => pais.translations.spa.common)
                        .sort((a, b) => a.localeCompare(b));

                paisesOrdenados.forEach(pais => {
                  let option = document.createElement("option");
                  option.value = pais; // El value será el nombre del país en español
                  option.textContent = pais;
                  selectPais.appendChild(option);
                });
              })
              .catch(error => console.error("Error al obtener los países:", error));
    });
  </script>
</body>
</html>