<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="admin/template_admin.html::header"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Productos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin/productos}">Regresar</a></li>
    <li class="breadcrumb-item active">Crear Productos</li>
  </ol>

  <h2>Crear Producto</h2>
  <form class="form-horizontal" th:action="@{/admin/productos/save}" method="post" enctype="multipart/form-data" th:object="${productoDto}">

    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" th:field="*{nombre}"
        placeholder="Ingrese el nombre del producto" autocomplete="off" required>
        <p th:if="${#fields.hasErrors('nombre')}" th:errorclass="text-danger"
        th:errors="${productoDto.nombre}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="equipo">Equipo:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="equipo" th:field="*{equipo}"}
               placeholder="Ingrese el equipo de la camiseta" autocomplete="off" required>
        <p th:if="${#fields.hasErrors('equipo')}" th:errorclass="text-danger"
           th:errors="${productoDto.equipo}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="precio">Precio:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="any" id="precio" th:field="*{precio}"}
        placeholder="Ingrese el precio del producto" autocomplete="off" required>
        <p th:if="${#fields.hasErrors('precio')}" th:errorclass="text-danger"
           th:errors="${productoDto.precio}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="imagen">Imagen:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="imagen" th:field="*{imagen}"}>
        <p th:if="${#fields.hasErrors('imagen')}" th:errorclass="text-danger"
           th:errors="${productoDto.imagen}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="stockTotal">Stock Total:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="any" id="stockTotal" th:field="*{stockTotal}"}
               placeholder="Ingrese el stock total del producto" autocomplete="off" required min="0">
        <p th:if="${#fields.hasErrors('stockTotal')}" th:errorclass="text-danger"
           th:errors="${productoDto.stockTotal}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="tipoEquipacion">Tipo de Equipación:</label>
      <div class="col-sm-10">
        <select th:field="*{tipoEquipacion}"} id="tipoEquipacion" class="form-control">
          <option value="" hidden>--Selecciona el tipo de equipación--</option>
          <option value="Local">Local</option>
          <option value="Visitante">Visitante</option>
          <option value="Alternativa">Alternativa</option>
          <option value="Otro">Otro</option>
        </select>
        <p th:if="${#fields.hasErrors('tipoEquipacion')}" th:errorclass="text-danger"
           th:errors="${productoDto.tipoEquipacion}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="liga">Liga:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="liga" th:field="*{liga}"}
               placeholder="Ingrese el nombre de la Liga" autocomplete="off" required>
        <p th:if="${#fields.hasErrors('liga')}" th:errorclass="text-danger"
           th:errors="${productoDto.liga}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="paisSelect">País:</label>
      <div class="col-sm-10">
        <select th:field="*{pais}"} id="paisSelect" class="form-control">
          <option value="" hidden="">Selecciona el pais</option>
        </select>
        <p th:if="${#fields.hasErrors('pais')}" th:errorclass="text-danger"
           th:errors="${productoDto.pais}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="temporada">Temporada:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="temporada" th:field="*{temporada}"}
               placeholder="Ingrese la temporada" autocomplete="off" required>
        <p th:if="${#fields.hasErrors('temporada')}" th:errorclass="text-danger"
           th:errors="${productoDto.temporada}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="edicionEspecial">Edición Especial:</label>
      <div class="col-sm-10">
        <select th:field="*{edicionEspecial}"} id="edicionEspecial" class="form-control">
          <option value="" hidden="">Selecciona si es Edición Especial</option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        <p th:if="${#fields.hasErrors('edicionEspecial')}" th:errorclass="text-danger"
           th:errors="${productoDto.edicionEspecial}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="esRetro">Es Retro:</label>
      <div class="col-sm-10">
        <select th:field="*{esRetro}"} id="esRetro" class="form-control">
          <option value="" hidden="">Selecciona si es Retro</option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        <p th:if="${#fields.hasErrors('esRetro')}" th:errorclass="text-danger"
           th:errors="${productoDto.esRetro}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="descripcion" th:field="*{descripcion}"}
                  placeholder="Ingrese la descripcion del producto" required
                  autocomplete="off"> </textarea>
        <p th:if="${#fields.hasErrors('descripcion')}" th:errorclass="text-danger"
           th:errors="${productoDto.descripcion}"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success mb-3">
          <span class="glyphicon glyphicon-saved"></span> Guardar
        </button>
      </div>
      <div class="col-sm-2">
        <a th:href="@{/admin/productos}" class="btn btn-danger mb-3">
          <span class="glyphicon glyphicon-saved"></span> Cancelar
        </a>
      </div>
    </div>

  </form>

</div>
<!-- /.container -->

  <!-- Footer -->
  <div th:include="admin/template_admin.html::footer"></div>


  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <script th:src="@{/js/script.js}"> </script>
</body>
</html>
