<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TicoTees Store - Costa Rica</title>

  <link rel="icon" type="image/png" th:href="@{/img/icono.png}" />


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="~{admin/template_admin.html::header}"></div>

<!-- Page Content -->
  <div class="container-fluid">
    <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Spring eCommerce <small>Productos</small>
      </h1>

      <div th:if="${successCreate}"
           class="alerta alert alert-success alert-dismissible fade show text-center " role="alert">
        <strong>Producto Creado Correctamente!</strong>
      </div>

      <div th:if="${successUpdate}"
           class="alerta alert alert-success alert-dismissible fade show text-center " role="alert">
        <strong>Producto Actualizado Correctamente!</strong>
      </div>

      <div th:if="${successDelete}"
           class="alerta alert alert-success alert-dismissible fade show text-center " role="alert">
        <strong>Producto Eliminado Correctamente!</strong>
      </div>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin}">Inicio</a></li>
        <li class="breadcrumb-item active">Ver Productos</li>
      </ol>

      <a class="btn btn-primary" th:href="@{/admin/productos/crear}" > Crear Producto</a>
    </div>

    <h2 class="text-center">Productos</h2>
    <div class="table-responsive">
      <table class="table w-100">
        <thead class="thead-light text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Tipo Equipo</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
          <th scope="col">Stock Total</th>
          <th scope="col">Tipo Equipación</th>
          <th scope="col">Liga</th>
          <th scope="col">País</th>
          <th scope="col">Temporada</th>
          <th scope="col">Edición Especial</th>
          <th scope="col">Retro</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="producto : ${productos}">
          <td th:text="${producto.id}"></td>
          <td th:text="${producto.nombre}"></td>
          <td th:text="${producto.equipo}"></td>
          <td th:text="${producto.tipoEquipo}"></td>
          <td th:text="@{'₡' + ${producto.precio}}"></td>
          <td>
            <img th:src="@{'/images/' + ${producto.imagen}}"
                 alt="Imagen" width="100" height="90">
          </td>
          <td th:text="${producto.stockTotal}"></td>
          <td th:text="${producto.tipoEquipacion}"></td>
          <td th:text="${producto.liga}"></td>
          <td th:text="${producto.pais}"></td>
          <td th:text="${producto.temporada}"></td>
          <td th:text="${(producto.edicionEspecial) ? 'Si' : 'No'}"></td>
          <td th:text="${(producto.esRetro) ? 'Si' : 'No'}"></td>
          <td th:text="${producto.descripcion}"></td>

          <td><a  class="btn btn-warning" th:href="@{/admin/productos/modificar(id=${producto.id})}">Editar</a> </td>
          <td><a class="btn btn-danger eliminar-btn"
                 th:href="@{/admin/productos/eliminar(id=${producto.id})}"
                 th:attr="data-href=@{/admin/productos/eliminar(id=${producto.id})}">Eliminar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{admin/template_admin.html::footer}"></div>


  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <script th:src="@{/js/script.js}"> </script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
